/* Write your CSS here */
.li-container-1 {
  background-color: #0f172a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 0px solid;
}
